<main>
  <div class="bg-text">
    <span>DESENVOLVEDOR</span>
    <span class="front-end">FRONT END</span>
  </div>

  <section>
    <h2>HABILIDADES</h2>

    <div class="skills">
      <div>
        <img src="./assets/skills/html.png" alt="HTML">
        <span>HTML</span>
      </div>
      <div>
        <img src="./assets/skills/css.png" alt="CSS">
        <span>CSS</span>
      </div>
      <div>
        <img src="./assets/skills/javascript.png" alt="Javascript">
        <span>Javascript</span>
      </div>
      <div>
        <img src="./assets/skills/angular.png" alt="Angular">
        <span>Angular</span>
      </div>
      <div>
        <img src="./assets/skills/bootstrap.png" alt="Bootstrap">
        <span>Bootstrap</span>
      </div>
      <div>
        <img src="./assets/skills/typescript.png" alt="Typescript">
        <span>Typescript</span>
      </div>
    </div>
  </section>

</main>
