<nav>
  <ul class="menu-pages" [class.menu-pages-active]="menuVariable">
    <li><a [routerLink]="['']" (click)="close()">HOME</a></li>
    <li><a [routerLink]="['sobre']" (click)="close()">SOBRE</a></li>
    <li><a [routerLink]="['habilidades']" (click)="close()">HABILIDADES</a></li>
    <li><a [routerLink]="['projetos']" (click)="close()">PROJETOS</a></li>
  </ul>

  <div class="box-bar" [class.box-bar-active]="boxBarVariable" (click)="toggle()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class="menu-contact">
    <li>
      <a href="https://github.com/WellingtonFujiwara" target="_blank">
        <img src="./assets/icons/GitHub.png" alt="github">
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/wellington-xavier-alves-fujiwara-65a04018a/" target="_blank">
        <img src="./assets/icons/LinkedIn.png" alt="linkedin">
      </a>
    </li>

    <li>
      <a href="https://wa.me//5517991337821" target="_blank">
        <img src="./assets/icons/WhatsApp.png" alt="whatsapp">
      </a>
    </li>

    <li>
      <a href="mailto:w.fujiwara93@gmail.com" target="_blank">
        <img src="./assets/icons/Email.png" alt="email">
      </a>
    </li>
  </ul>
</nav>
