nav {
  width: 100vw;
  padding: 20px;
  font-size: 1.3rem;

  display: flex;
  justify-content:space-around;
  align-items: center;

  .menu-pages {
    display: flex;
    gap: 60px;

    li {
      position: relative;

      a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: #3A0E97;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }

      a:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }

  .menu-contact {
    display: flex;
    align-items: center;
    gap: 20px;

    li {
      img {
        height: 30px;
      }
    }
  }
}

