:host {
  nav {
    width: 100vw;
    padding: 20px;
    font-size: 1.3rem;

    display: flex;
    justify-content:space-evenly;
    align-items: center;

    .menu-pages {
      display: flex;
      gap: 60px;
    }

    .menu-contact {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        img {
          height: 30px;
        }
      }
    }
  }
}
