<main>
  <div class="bgText">
    <span>DESENVOLVEDOR</span>
    <span class="frontEnd">FRONTEND</span>
  </div>

  <section>
    <img src="./assets/sobre.png" alt="imagem">
    <div class="sobre">
      <h2>SOBRE</h2>
      <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quibusdam harum quis tempore minima nesciunt impedit eveniet! Eligendi maxime enim dolore nihil voluptas itaque, velit iste fuga, assumenda doloremque exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quibusdam harum quis tempore minima nesciunt impedit eveniet! Eligendi maxime enim dolore nihil voluptas itaque, velit iste fuga, assumenda doloremque exercitationem.</P>
    </div>
  </section>
</main>
