<main>
  <div class="bg-text">
    <span>DESENVOLVEDOR</span>
    <span class="front-end">FRONT END</span>
  </div>

  <section class="slideInLeft">
    <img src="./assets/sobre.png" alt="imagem">
    <div class="sobre">
      <h2>SOBRE</h2>
      <P>Sou um desenvolvedor front end apaixonado por criar interfaces web atraentes e funcionais. Tenho conhecimentos de HTML, CSS, JavaScript e Bootstrap, e estou sempre buscando aprender novas tecnologias e ferramentas. Meu objetivo é desenvolver soluções web que atendam às necessidades dos usuários e dos clientes, utilizando as melhores práticas de código e design. Tenho experiência em projetos pessoais e acadêmicos, que podem ser vistos aqui no meu portfólio online. Estou em busca de uma oportunidade para ingressar no mercado de trabalho como desenvolvedor front end, e contribuir com o crescimento e a inovação da empresa.</P>
    </div>
  </section>
</main>
