@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 640px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 1024px) { @content; }
  }
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;

  @include breakpoint(small) {
    flex-direction: column;
    gap:10px;
  }

  img {
    width: 380px;

    @include breakpoint(small and medium) {
      width: 240px;
    }
  }

  .sobre {
    width: 504px;

    @include breakpoint(large) {
      width: 340px;
    }

    @include breakpoint(small and medium) {
      width: 300px;
    }

    h2 {
      font-size: 3.6rem;
      margin-bottom: 30px;
    }

    p {
      font-size: 1.5rem;
    }
  }
}


