<main>
  <div class="bg-text">
    <span>DESENVOLVEDOR</span>
    <span class="front-end">FRONT END</span>
  </div>

  <section>
    <h2>PROJETOS</h2>

    <div>
      <div class="card-project">
        <section>
          <h3>Velocímetro</h3>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            aliquid id enim facere numquam quos aut iure sed odit voluptatum,
            saepe omnis nam repellendus qui magnam quo reprehenderit. Deserunt,
            repellendus!
          </p>
          <a href="https://github.com/WellingtonFujiwara/Speedometer" target="_blank">
            <p>Mais informações</p>
          </a>
        </section>

        <div class="img">
          <img src="./assets/projects/speedometer-new.png" alt="" />
          <img src="./assets/projects/speedometer-index.png" alt="" />
          <img src="./assets/projects/speedometer-detail.png" alt="" />
        </div>
      </div>

      <div class="card-project">
        <section>
          <h3>Landing page</h3>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            aliquid id enim facere numquam quos aut iure sed odit voluptatum,
            saepe omnis nam repellendus qui magnam quo reprehenderit. Deserunt,
            repellendus!
          </p>
          <a href="https://github.com/WellingtonFujiwara/Page-Garagem-das-Racoes" target="_blank">
            <p>Mais informações</p>
          </a>
        </section>

        <div class="img">
          <img src="./assets/projects/page-desktop.png" alt="" />
          <img src="./assets/projects/page-mobile.png" alt="" />
        </div>
      </div>

      <div class="card-project">
        <section>
          <h3>Busca de repositórios</h3>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            aliquid id enim facere numquam quos aut iure sed odit voluptatum,
            saepe omnis nam repellendus qui magnam quo reprehenderit. Deserunt,
            repellendus!
          </p>
          <a href="https://github.com/WellingtonFujiwara/App-To-Query-Repositories" target="_blank">
            <p>Mais informações</p>
          </a>
        </section>

        <div class="img">
          <img src="./assets/projects/search-for-repositories.png" alt="" />
        </div>
      </div>
    </div>
  </section>
</main>
