@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 640px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == large {
    @media (max-width: 1024px) { @content; }
  }
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-weight: 400;
  font-family: sans-serif;
  box-sizing: border-box;
  line-height: 1.2;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ol, ul {
	list-style: none;
}

main {
  height: 88vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .bg-text {
    @include breakpoint(small and medium) {
      display: none;
    }

    span {
      display: block;
      font-size: 12rem;
      color: rgba(255, 255, 255, 0.01);

      @include breakpoint(large) {
        font-size: 8.5rem;
      }
    }
    .front-end {
      font-size: 18.7rem;

      @include breakpoint(large) {
        font-size: 13rem;
      }
    }
  }
}


