* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-weight: 400;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

input{
  outline: none;
  font-weight: 100;
}
